<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
    <head>
        <title>rizzMe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    </head>
    <body class="h-full">
        <div class="h-full flex items-center justify-center bg-gray-100">
            <div class="text-center">
                <div><%= rizz %></div>
            </div>
        </div>
    </body>
</html>
